.minheap__visuals {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-direction: column;
}

.minheap__array {
    display: flex;
    justify-content: center;
}

.minheap__node {
    border: 2px solid;
    padding: 2em;
    color: white;
    font-weight: bold;
    font-size: 16px;

}

.minheap__tree {
    background-color: white;
    margin-bottom: 3em;
}

.heapnode__circle {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    border: 3px solid;
}

.minheap__tree__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heapnodearrow__container {
    width: 100%;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}

.heapnode__container {
    position: relative;
    width: 250px;
    height: 100px;
    justify-content: center;
    display: flex;
}

.heapnode__arrow {
    position: relative;
    background-color: white;
    width: 100px;
    height: 20px;
}

.heapnodearrow__left {

    clip-path: polygon(100% 50%,
            10% 50%,
            10% 10%,
            0% 55%,
            10% 90%,
            10% 60%,
            100% 60%);

}

.heapnodearrow__right {

    clip-path: polygon(0% 50%,
            90% 50%,
            90% 10%,
            100% 55%,
            90% 90%,
            90% 60%,
            0% 60%);
}

.minheap__text {
    padding-bottom: 2em;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    width: 60%;
    color: white;
    word-spacing: 4px;
}

.node__hover {
    transition: 0.2s ease-out;
}

.node__hover:hover {
    cursor: pointer;
    transform: scale(1.04);
    border-width: 4px;
}

/* .minheap__tree {
    display: flex;
    justify-content: center;
    padding-top: .5em;
    margin-bottom: 3em;
    width: 1000px;
    height: 400px;
    border-radius: 5px;
    background-color: #202225;
    border: 2px solid white;
}

.tree__node {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 220px;
    color: white;
    height: 75px;
}

.treenode__value {
    border-radius: 50%;
    border: 2px solid white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.treenodearrow {
    position: relative;
    top: 2.5em;
    background-color: white;
    width: 100px;
    height: 20px;
}

.treenodearrow__right {

    right: .2em;
    transform: rotate(30deg);

    clip-path: polygon(0% 50%,
            90% 50%,
            90% 10%,
            100% 55%,
            90% 90%,
            90% 60%,
            0% 60%);
}

.treenodearrow__left {
    left: .2em;
    transform: rotate(-30deg);
    clip-path: polygon(100% 50%,
            10% 50%,
            10% 10%,
            0% 55%,
            10% 90%,
            10% 60%,
            100% 60%);
} */