.dschooser__wrapper {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    padding-top: 2em;
    flex-wrap: wrap;
}

.dschooser__title {
    font-size: 1.3em;
    font-weight: bold;
}

.dschooser__menu {
    width: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
}